@model List<Product>

@section title {
    <h3>Product</h3>
}

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>CategoryName</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var product in Model)
            {
                <tr>
                    <td>@product.Category?.Name</td>
                    <td>@product.Name</td>
                    <td>$@product.Price</td>
                    <td>@product.Quantity</td>
                    <td><a class="btn btn-link" asp-controller="Products" asp-action="Edit" asp-route-id="@product.ProductId">Edit</a></td>
                    <td><a class="btn btn-link" asp-controller="Products" asp-action="Delete" asp-route-id="@product.ProductId" onclick="return confirmDelete()">Delete</a></td>
                </tr>
            }
        </tbody>


    </table>
}

<a type="button" class="btn btn-info" asp-controller="Products" asp-action="Add">Add Product</a>

@section Scripts{
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to Delete?");
        }
       
    </script>
}
